body {
    background-color: rgb(147, 69, 69);
    font-size: medium;
    font-family: "Franklin Gothic Medium", Arial Narrow, Arial, sans-serif;
  }

.column {
  float: left;
}

.left {
  width: 25%;
}

.right {
  width: 75%;
}
