body {
    background-color: rgb(147, 69, 69);
    font-size: medium;
    font-family: "Franklin Gothic Medium", Arial Narrow, Arial, sans-serif;
  }




body {
  font-family: "Lato", sans-serif;
}

.sidenav {
  height: 100%;
  width: 140px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 20px;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.main {
  margin-left: 160px; /* Same as the width of the sidenav */
  font-size: 28px; /* Increased text to enable scrolling */
  padding: 0px 10px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}


{
  box-sizing: border-box;
}




.column {
  float: right;
  padding: 50px;
  height: 500px;
}

.left {
  width: 80%;
}

.right {
  width: 20%;
}
/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
