body {
    background-color: rgb(147, 69, 69);
    font-size: medium;
    font-family: "Franklin Gothic Medium", Arial Narrow, Arial, sans-serif;
  }

.column {
  float: left;
  width: 50%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
