body {
    background-color: rgb(147, 69, 69);
    font-size: medium;
    font-family: "Franklin Gothic Medium", Arial Narrow, Arial, sans-serif;
  }


.tab {
    overflow: hidden;
}

.tabcontent {
    display: show;
    padding: 6px 12px;
}
